.l-search-box {
  margin-bottom: 0.5rem;

  .p-search-box__input {
    padding-right: 2.1rem;
  }
}

.l-search-container {
  position: relative;
  width: 100%;

  .l-search-dropdown {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    left: 0;
    list-style-type: none;
    margin: 0;
    max-height: calc(100vh - 200px);
    overflow: auto;
    padding: 0;
    position: absolute;
    top: -10px;
    min-width: 100%;
    width: max-content;
    z-index: 10;

    .l-search-item {
      padding: 5px 10px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
  }
}