services:
  web:
    build: .
    env_file:
      - path: .env
      - path: .env.local
        required: false
    ports:
      - "${PORT}:80"
    volumes:
      - .:/srv
      - /srv/.venv
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
      hmr:
        condition: service_healthy
  redis:
    image: redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - cache:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 10
  postgres:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "postgres"]
      interval: 1s
      timeout: 3s
      retries: 10
      start_period: 80s
    volumes:
      - postgres_data:/var/lib/postgresql/data
  hmr:
    image: node:20-alpine
    working_dir: /srv
    env_file:
      - path: .env
      - path: .env.local
        required: false
    volumes:
      - .:/srv
      - hmr_node_modules:/srv/node_modules # Named volume
    ports:
      - "5173:5173"
    healthcheck:
      test: ["CMD-SHELL", "nc -z 0.0.0.0 5173 || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 20
      start_period: 40s
    command: sh -c "yarn install && yarn dev --host 0.0.0.0"

volumes:
  cache:
    driver: local
  postgres_data:
    driver: local
  hmr_node_modules:
