.l-main {
  padding: 20px;

  .l-breadcrumbs {
    @media (max-width: $breakpoint-large) {
      margin-bottom: 1rem;
    }
  }

  .l-search-box {
    margin-bottom: 0.5rem;
  }
}

.l-notification__container {
  position: fixed;
  right: 2rem;
  top: 1rem;
  z-index: 150;
  max-width: 30rem;
}
