.l-main {
  padding: 20px;

  .l-breadcrumbs {
    @media (max-width: $breakpoint-large) {
      margin-bottom: 1rem;
    }
  }
}

.toast-animate {
  .toast-notification {
    bottom: 1rem;
    right: 1rem;
    margin: 0 0;
  }
}
