.l-navigation-bar {
  .p-panel__logo {
    margin: 0;

    @media (min-width: $breakpoint-small) {
      display: none;
    }

    .l-logo__collapsed {
      display: none;
    }
  }
}

.l-navigation {
  // Keep sidebar content (e.g. search dropdown) from being clipped
  overflow: visible !important;

  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
    overflow: hidden !important;
  }

  .p-panel {
    display: flex;
    flex-direction: column;
  }

  .p-panel__header {
    padding-left: 16px;
    padding-right: 16px;

    .p-panel__logo {
      margin: 0;
  
      @media (min-width: $breakpoint-small) {
        display: flex;
        flex: 0 0 auto;
        margin-bottom: 12px;
      }
    }
    
    .l-navigation__controls,
    .l-navigation__controls > span {
      display: flex;
      flex: 1 1 auto;
      margin: 0;
      position: relative;

      .l-navigation-collapse-toggle {
        position: absolute;
        right: 0;
        top: 10px;
      }

      @media (min-width: $breakpoint-small) {
        display: none;
      }
    }

    .l-logo__collapsed {
      display: none;
      left: 1.3rem;
      position: absolute;
      top: 0;

      @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
        display: block;
      }
    }
  }

  .p-panel__content {
    overflow: visible;
    flex: 1 1 auto;

    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
      display: none;
    }

    .p-panel__content-search {
      padding: 0 16px;
    }
  }

  .p-panel__footer {
    margin-top: auto;
    padding-bottom: 16px;
    padding-top: 20px;

    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
      padding-left: 0.5rem;
    }
  }

  .p-side-navigation__link {
    padding: 4px;
    padding-left: 16px;
    cursor: pointer;
  }

  &:hover,
  &:focus-within {
    overflow: visible !important;

    .l-logo__collapsed {
      display :none;
    }

    .p-panel__content {
      display: block;
    }

    .p-panel__footer {
      padding-left: 0;
    }
  }
}
