@use "sass:math";

@import "./settings.scss";
@import "vanilla-framework";
@include vanilla;
@include vf-base;

@include vf-p-divider;

// Patterns
@include vf-p-grid;
@include vf-p-headings;
@include vf-p-links;
@include vf-p-navigation;
@include vf-p-side-navigation;
@include vf-p-buttons;
@include vf-p-tooltips;
@include vf-p-chip;
@include vf-p-search-and-filter;

// Icons
@include vf-p-icons;
@include vf-p-icons-common;
@include vf-p-icon-edit;
@include vf-p-icon-archive;
@include vf-p-icon-switcher-dashboard;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-filter;
@include vf-p-icon-repository;
@include vf-p-icon-file;
@include vf-p-icon-home;
@include vf-p-icon-profile;

// Utilities
@include vf-u-align;
@include vf-u-hide;

// Layout
@include vf-l-application;
@include vf-l-application-panels;
@include vf-l-full-width;
@include vf-l-site;
@include vf-p-grid-8;

// Local SCSS
@import "./patterns_icons";

// Components
@include vf-p-list-tree;
@import "./components/MainLayout/MainLayout";
@import "./components/Navigation/Navigation";
@import "./components/Navigation/NavigationElement/NavigationElement";
@import "./components/Search/Search";
@import "./pages/Webpage/Webpage";
@import "./pages/NewWebpage/NewWebpage";

@mixin vf-icon-logout($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M1.32973 12.4804C0.965955 12.4804 0.653389 12.3507 0.392033 12.0912C0.130678 11.8317 0 11.5213 0 11.1602V1.32972C0 0.965938 0.130678 0.653372 0.392033 0.392017C0.653389 0.130672 0.965955 0 1.32973 0H6.24567V1.32972H1.32973V11.1602H6.24567V12.4804H1.32973ZM9.44857 9.50075L8.49638 8.5674L10.1587 6.90508H4.46668V5.58478H10.1254L8.46305 3.92247L9.41523 2.98912L12.6783 6.2616L9.44857 9.50075Z'/%3E%3C/svg%3E");
}

.p-icon--logout {
  @extend %icon;
  @include vf-icon-logout(#000000);
}

// allow SearchAndFilter component increase height when there are several options selected (in Reviewers)
.p-search-and-filter__search-container {
  height: auto !important;
}

.p-accordion {
  .p-accordion__heading {
    position: sticky !important;
    top: -1.5rem;
    z-index: 9;

    & button[aria-expanded="true"] {
      background: var(--vf-color-background-neutral-hover) !important;
    }
  }
  .p-accordion__panel {
    padding-left: 0 !important;
  }
}

.p-table__row--highlight {
  background: var(--vf-color-background-neutral-hover) !important;
}

.p-asset__image {
  background: $color-mid-x-light;
}

.sticky-wrapper.sticky-wrapper--bottom {
  top: 100%;
}

.report-card {
  border-color: var(--vf-color-border-low-contrast);
}

.p-tabs__list {
  overflow-y: hidden;

  .p-tabs__link {
    border: none;
  }
}

.p-contextual-menu__link {
  border: 0;
  clear: both;
  display: block;
  margin: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
