.l-owned {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: space-between;

  td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  & > div:first-child {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-bottom: 1rem;
  }

  &__pagination {
    margin-top: auto;
    flex-shrink: 0;
    background: #fff;
    padding-bottom: 1rem;
  }
}

.l-owned__project-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: $sp-x-small $sp-large $sp-x-small $sp-medium;
  text-align: left;
  width: 100%;

  &.is-active {
    border-left: 3px solid #000;
    font-weight: 400;
    background-color: var(--color-x-light);
    background-color: $color-x-light;
  }
}

.l-owned__status {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.l-owned__actions {
  button {
    background: none;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
  }
}

.l-owned__cell--wrap-anywhere {
  word-break: break-all;
}

.l-owned__cell--truncate {
  max-width: 0;
  white-space: nowrap;
}
