.l-owned {
  display: flex;
  flex-direction: column;
  height: 100%;

  td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  table {
    table-layout: fixed;
    width: 100%;

    th:nth-child(1), td:nth-child(1) { width: 24%; }
    th:nth-child(2), td:nth-child(2) { width: 48%; }
    th:nth-child(3), td:nth-child(3) { width: 16%; }
    
    th:nth-child(4), td:nth-child(4) { 
      width: 12%; 
      padding-right: 1rem; 
    }
  }

  &__pagination {
    margin-top: auto;
    padding-bottom: 0;

    .pagination {
      margin-bottom: 0;
    }
  }

  &__project-button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    padding: $sp-x-small $sp-large $sp-x-small $sp-medium;
    text-align: left;
    width: 100%;

    &.is-active {
      border-left: 3px solid #000;
      font-weight: 400;
      background-color: var(--color-x-light);
      background-color: $color-x-light;
    }
  }

  &__status {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &__actions {
    button {
      background: none;
      border: none !important;
      box-shadow: none !important;
      cursor: pointer;
      padding: 0;
      margin-bottom: 0;
    }
  }

  &__cell {
    &--wrap-anywhere {
      word-break: break-all;
    }

    &--truncate {
      max-width: 0;
      white-space: nowrap;
    }
  }
}
