.filter-box {
  position: fixed; /* stays in the same place when you scroll */
  top: 11rem; /* distance from top */
  border: 1px solid #ccc;
  border-top: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* very high so it stays above everything */
  border-radius: 8px;
  padding: 1rem 0 0 0;
  margin-top: 0.3rem;
}

.p-contextual-menu__dropdown {
  min-width: 30rem;
  margin-top: 0.3rem;
  background: #f8f4f4;
}

.p-filter__button--active {
  display: flex;
  align-items: center;
  background: #e0e0e0; /* Light grey background */
  border: none;
  padding: 8px 12px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
}
.p-filter__button--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: black;
}

.p-filter__group {
  max-height: 16rem; // or height: 200px;
  overflow-y: auto;
}

.filter-search {
  margin: 0.5rem;
}
