.full-site-view {
  display: flex;
  min-height: 100dvh;

  .p-form__group {
    position: relative;
  }
}

.full-site-view__sidebar {
  align-self: flex-start;
  // TODO: find alt bg color variable
  background-color: #ebebeb;
  // background-color: var(--vf-color-background-alt);
  flex-shrink: 0;
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
  width: 220px;
  height: 100%;

  .full-site-view__sidebar-title {
    padding-bottom: 2.5rem;
    padding-left: $sp-medium;
    padding-right: $spv--small;
  }
}

.full-site-view__project-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: $sp-x-small $sp-large $sp-x-small $sp-medium;
  text-align: left;
  width: 100%;

  &.is-active {
    border-left: 3px solid #000;
    font-weight: 400;
    // TODO: find white bg color variable
    background-color: var(--color-x-light);
    background-color: $color-x-light;
  }
}

.full-site-view__content {
  flex: 1;
  padding: 0 $sp-large;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full-site-view__status {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.full-site-view__actions {
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

.full-site-view__cell--wrap-anywhere {
  word-break: break-all;
}

.full-site-view__cell--truncate {
  max-width: 0;
  white-space: nowrap;
}
